{% load widget_tweaks %}

<div style="background:#53d769;"  class="modal-header d-flex justify-content-center">
  <h3 style="color:#fff"; class="modal-title">Student Details</h3>
  </div>

<div class="modal-body">

  <div class="">
    Name :
    <br>
  <strong  style="font-size:18px;"> {{field.firstName}} {{field.lastName}}</strong>
  </div>
  <div class="">
    Hostel Name :
    <br>
     <strong  style="font-size:18px;"> {{field.hostel_name}}</strong>
  </div>
  <div class="">
    Phone :
    <br>
    <strong  style="font-size:18px;"> {{field.phone_number}}</strong>

  </div>
  <div class="">
    Email :
    <br>
    <strong  style="font-size:18px;"> {{field.email}}</strong>
  </div>
  <div class="">
    Parent :
    <br>
    <strong  style="font-size:18px;"> {{field.parent_name}}</strong>
  </div>
  <div class="">
    Class Name :
    <br>
    <strong  style="font-size:18px;"> {{field.class_name}}</strong>
  </div>
  <div class="">
    Roll Number :
    <br>
    <strong  style="font-size:18px;"> {{field.roll_number}}</strong>
  </div>


</div>

<div class="modal-footer">
    <button style="border-radius:10px; background:#53d769;; border:none; color:#fff;"; type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
