
      <div class="modal-header">
        <p style="color:rgb(255,128,33);font-size:10px;">  <i class="fa fa-paper-plane-o fa-4x animated rotateIn mb-1"></i></p>
        <a style="border:none;" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fa fa-close fa-1x animated rotateIn mb-1"></i></span>
        </a>

      </div>
      <!--Body-->
      <div class="modal-body">

        <table class="table table-hover">
          <a style="font-size:18px; " href="{% url 'staff_view:request-staff' %}">All Request </a>
          <thead>
            <tr>
              <th>From</th>
              <th>Regarding</th>

            </tr>
          </thead>
          <tbody>
            {% if msg %}
               {% for data in msg %}
            <tr>
              <th scope="row">1</th>
              <td>Product 1</td>
              <td>100$</td>
              <td><a><i class="fa fa-times"></i></a></td>
            </tr>
                {% endfor %}
            {% else %}
               <tr>
                  <td colspan="7" class="text-center ">No Request</td>
               </tr>

          {% endif %}

          </tbody>
        </table>

      </div>
      <!--Footer-->
      <div class="modal-footer">
          <button data-dismiss="modal" style="border-radius:10px; background:rgb(255,128,33); border:none;"; type="submit" class="delete-btn btn btn-danger waves-effect">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal: modalCart -->
