{% extends 'base.html' %}
{% load static %}
{% block title %}Admin | {{user.admin.firstName}} {{user.admin.lastName}} {%endblock%}
{% block heading %} <h4>Welcome</h4>  {% endblock %}
{% block style %}

    a ion-icon {
          color:#fd9426;
          font-size:33px;
          float:right;
          margin:0 3px;
          padding:3px;
          line-height:20px;
          display:block;
          border: 0px solid #fd9426;
          border-radius:10px;
          cursor:pointer;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        }
    a  ion-icon:hover{
          transition:0.1s;
          background:#fd9426;
          color:#FFF;
          border: 1px solid #fd9426;
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    .menu {
          top: -71px;
          position: relative;
        }
    .box
        {
          margin-bottom:20px ;
          border-radius:10px ;
          opacity:0.8;
          width: 100%;
          height: 330px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
    .box:hover{
          background:.rgb(255,128,33);
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

        }
    .modal-box {
          background:red;
        }

    .box1
        {
          margin:30px ;
          border-radius:10px ;
          opacity:0.8;
          width: 100%;
          height: 330px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
    .box1:hover{
          background:.rgb(255,128,33);
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

        }



    .span2
        {
          font-size: 16px;
          color: #999999;
          font-weight:bolder;
          text-align: center;
          margin-bottom:0px;

        }
    #span3{
          color:black;
        }
    .main h4 {
          color:rgb(255,128,33);
          background: #ffffff;
          border-radius:10px;
          padding:0px 10px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    .box img {
          display:flex;
          justify-content:center;
          flex-wrap:no-wrap;
          height:220px;
          padding:10px;
          border-radius:50%;

        }
    .box .a1 ion-icon {
          color:#fc3d39

        }
    .box .a1 ion-icon:hover {
          background:#fc3d39;
          color:#fff;
          border:1px solid #fc3d39;
        }
        .box .a3 ion-icon {
          color:#53d769;
        }
    .box .a3 ion-icon:hover {
          background:#53d769;
          color:#fff;
          border:1px solid #53d769;
        }
    .btn.btn-primary {
          background: #f05d23;
          border: 1px solid #f05d23;
          color: #fff;
          margin-top: 10%;

        }
    .box1 p {
        text-align:center;
        font-size:18px;
        color:#999999;
        margin-bottom:-1rem;

      }

    p ion-icon {
        color:red;
      }
    .modal-read {
      margin:30px ;
      border-radius:10px ;
      opacity:0.8;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      cursor:pointer;

    }
    .modal-read:hover{
      background:.rgb(255,128,33);
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    }
     .flex{
       display:flex;
       margin:15px;
       justify-content:center;

     }
     .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content:center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
{% endblock %}
   {% block nav-link %}
            <li class="colorlib-active" ><a style="font-size:18px;" href="{% url 'admin_view:admin-home' %}"> Home</a></li>
            <hr>
            <li ><a style="font-size:18px;" href="{% url 'admin_view:notice-admin' %}">All Notice</a></li>
            <hr>
            <li ><a style="font-size:18px;" href="{% url 'admin_view:request-list' %}">  All Request</a></li>

            <hr>
            <li ><a style="font-size:18px;" href="{% url 'warden_signup' %}">Add Warden</a><li>
              <hr>

            <li><a style="font-size:18px;" href="{% url 'warden_view:search-warden' %}"> Search Warden</a></li>

            <hr>
            <br>
            <li ><a style="color:#fd9426;" id='logout' href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> logout</a></li>

   {% endblock %}

{% block body %}

<div class="main">
    {% include "_modal.html" %}

   <h4 style="margin-top:">Dashboard</h4>
     <div class="container-fluid  ">
       <div class="row">
            <div id='allwarden' style="height:100px;cursor:pointer;" class="box1 col-md-3">
              <p >Total Warden</p>

              <p style="font-size:40px;color:rgb(255,128,33);" >{{ data.count }}</p>
              </div>
              <div  style="height:100px; cursor:pointer;" class="box1 col-md-3">
                <p>Recent Added </p>
                {% if data %}
                <p style="font-size:20px;margin-top:1rem;color:rgb(255,128,33);" >{{ data.last.firstName }} {{ data.last.lastName }}</p>
                {% else %}
                <p style="font-size:20px;margin-top:1rem;" > - - -</p>
                {% endif %}
                </div>
                <div style="height:100px;cursor:pointer;" class="box1 col-md-3">
                  <p >Last Updated</p>
                  <p style="font-size:20px; margin-top:1rem;color:rgb(255,128,33);" > {{user.last_login | date }}</p>


                  </div>

       </div>
  </div>
</div>
<div class="main">
                                   <h4>All Warden</h4>
  <div class="container">
    <div class="row">
     {% if data %}

        {% for field in data %}
          <div id="#allwarden" class="flex ">
            <div class="box">
              <img class=" rounded mx-auto d-block rounded-circle img-responsive"  src="{{field.profile_image.url}}" %}" alt="img" class="" width="210px" height="190px">

                   <p class="span2">{{field.firstName}} {{field.lastName}}</p>

                      <p class="span2">{{field.hostel_name}}</p>

                      <a class="delete-warden a1" data-id="{% url 'warden_view:delete_warden' field.pk %}">
                        <ion-icon name="trash">
                      </a>
                      <a class="a2" href="/warden/update?fieldid={{field.pk}}"  >
                        <ion-icon name="create" >
                      </a>
                      <a class="read-warden a3" data-id="{% url 'warden_view:read_warden' field.pk %}">
                        <ion-icon name="eye">
                      </a>
                    </div>
        </div>
        {% endfor %}
        {% else %}

              <a style="border-radius:10px;" type="submit" class="btn btn-primary" href="{% url 'warden_signup' %}">
                  Add new warden
              </a>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
{% block profile%}

<a class=" " href="{% url 'admin_view:admin-profile'  %}">
  <ion-icon name="contact"></ion-icon>
</a>
<a class="admin-notifications " data-id="{% url 'admin_view:admin-notification'  %}">
  <ion-icon name="notifications"></ion-icon>
</a>
<a class="admin-message " data-id="{% url 'admin_view:admin-message'  %}">
  <ion-icon name="navigate"></ion-icon>
</a>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      $(".admin-message").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".admin-notifications").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".admin-profile").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Update book buttons
      $(".read-warden").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Read book buttons
      $(".update_warden").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete book buttons
      $(".delete-warden").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })

      // Hide message
      // $(".alert").fadeTo(2000, 700).slideUp(700, function(){
      //   $(".alert").slideUp(2000);
      // });

    });
  </script>
{% endblock extrascripts %}
