
<div class="modal fade right" id="modalRelatedContent" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
    <!--Content-->    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade " tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog modal-dialog modal-md modal-notify modal-danger" role="document">
    <div class="modal-content"></div>
  </div>
</div>
